#you must use orca to get molecular orbital. so try to find the relationship between Eg and conjugate structure size, and the electronic effect of substituents on diamine HOMO energy. Dont foeget your job

software
- OpenMPI >= 4.1.8
- Orca >= 6.1.1
- Multiwfn >= 2026.4.10

Python requirement：
- rdkit
- numpy
- pandas
- requests
- fastapi
- uvicorn
- unrar

#
- opnempi, Orca and Multiwfn can be installed by the compressed files. which you can find in /home/homo_lumo
- RDKit 推荐通过 conda 安装：conda install -c conda-forge rdkit
